/venv/lib/python3.6/site-packages/
/venv/lib/python3.6/site-packages/click/
/venv/lib/python3.6/site-packages/Click-7.0.dist-info/
/venv/lib/python3.6/site-packages/flask/
/venv/lib/python3.6/site-packages/Flask-1.1.1.dist-info/
/venv/lib/python3.6/site-packages/gunicorn/
/venv/lib/python3.6/site-packages/gunicorn-20.0.4.dist-info/
/venv/lib/python3.6/site-packages/itsdangerous/
/venv/lib/python3.6/site-packages/itsdangerous-1.1.0.dist-info/
/venv/lib/python3.6/site-packages/jinja2/
/venv/lib/python3.6/site-packages/Jinja2-2.10.3.dist-info/
/venv/lib/python3.6/site-packages/markupsafe/
/venv/lib/python3.6/site-packages/MarkupSafe-1.1.1.dist-info/
/venv/lib/python3.6/site-packages/numpy/
/venv/lib/python3.6/site-packages/numpy-1.18.1.dist-info/
/venv/lib/python3.6/site-packages/pip/
/venv/lib/python3.6/site-packages/pip-20.0.2.dist-info/
/venv/lib/python3.6/site-packages/pkg_resources/
/venv/lib/python3.6/site-packages/setuptools/
/venv/lib/python3.6/site-packages/setuptools-45.0.0.dist-info/
/venv/lib/python3.6/site-packages/werkzeug/
/venv/lib/python3.6/site-packages/Werkzeug-0.16.0.dist-info/
/venv/
